<div class="cotb" id="sidebar">
    <div class="group_tin clearfix">
        <div class="group_tin_tieude clearfix">
            <div class="htitle clearfix">
                <span class="img">
                    <i class="fa fa fa-group"></i>
                </span><span class="tentieude">Hỗ trợ trực tuyến</span></div>
            <!-- ./htitle -->
        </div>
        <!-- ./group_tin_tieude -->
        <div class="group_tin_noidung clearfix">
            <div class="httt-container">
                <div class="httt-top">
                    <div class="httt-top-right">
                        <input id="dienthoai" value="<%= info.phone_1 %>" disabled="">
                    </div>
                </div>
                <div class="httt-bot">
                    <p style="text-align: center;"><strong>Văn Phòng Công Ty:</strong></p>

                    <p style="text-align: center;"><span style="color:#000099;"></span><span
                            style="font-size:20px;"><span style="font-family:Times New Roman,Times,serif;"><span
                                    style="color:#ff0000;"><strong><span class="fa fa-phone"
                                            style="color:rgb(255, 0, 0);"></span>&nbsp;<%= info.phone_2 %>
                                    </strong>
                                </span>
                            </span>
                        </span>
                    </p>

                </div>
            </div>
        </div>
        <!-- /.group_tin_noidung -->
    </div>

    <div class="group_tin clearfix">
        <div class="group_tin_tieude clearfix">
            <div class="htitle clearfix">
                <span class="img">
                    <i class="fa fa fa-thumbs-o-up"></i>
                </span>
                <span class="tentieude">HƯỚNG DẪN SỬ DỤNG</span></div>
            <!-- ./htitle -->
        </div>
        <!-- ./group_tin_tieude -->
        <div class="group_tin_noidung clearfix">
            <ul class="ul_noidung_templates">
                <% guide.forEach(item=>{ %>
                <li class="itemTPL">
                    <div class="img">
                        <a href="<%= item.url %>" target="" title="<%= item.title %>"><img src="<%= item.image %>"
                                alt="<%= item.title %>" title="<%= item.title %>"></a>
                    </div>
                    <p class="tieude">
                        <a href="<%= item.url %>" target="" title="<%= item.title %>"><%= item.title %></a></p>
                    <div class="clear"></div>
                </li>
                <% }) %>
            </ul>
        </div>
        <!-- /.group_tin_noidung -->
    </div>
</div>