<% layout('../partials/boilerplate') -%>
<main>
    <div class="container-fluid">
        <h1 class="mt-4"><%= title %></h1>
        <div class="card mb-4">
            <div class="card-header">
                <button class="btn float-right btn-primary button-show-create" data-toggle="modal"
                    data-target="#createModal">
                    <i class="fas fa-plus-circle"></i>Thêm mới
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tiêu đề</th>
                                <th class="toolkit">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% menus.forEach(item => { %>
                            <tr>
                                <td><%= item.title %></td>
                                <td class="toolkit">
                                    <button class="btn q-button-edit" title="Sửa" data-url="/api/menu"
                                        data-id="<%= item.id %>" data-toggle="modal" data-target="#createModal"><i
                                            class="fas fa-edit"></i></button>
                                    <button class="btn btn-delete q-button-delete" title="Xóa"
                                        data-id="<%= item.id %>" data-url="/api/menu"><i
                                            class="fas fa-trash text-danger"></i></button>
                                </td>
                            </tr>
                            <% }); %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="createModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><%= title %></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-modal-create form-modal">
                        <input type="hidden" id="id" data-name="id" data-type="text" />
                        <div class="container">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="category">Bài viết:</label>
                                    <select class="form-control" id="post_id" data-name="post_id" data-type="text">
                                        <% posts.forEach(item => { %>
                                        <option value="<%= item.id %>"><%= item.title %></option>
                                        <%}) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-success btn-create-entity"
                        data-form=".form-modal-create" data-url="/api/menu">Tạo</button>
                    <button type="button" data-dismiss="modal" class="btn btn-success btn-update-entity"
                        data-form=".form-modal-create" data-url="/api/menu">Cập nhật</button>

                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</main>