<% layout('../partials/boilerplate') -%>

<section id="main" class="main clearfix">
    <div class="ws-container">
        <div class="main-wrap">
            <div class="content-main">
                <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" id="breadcrumbs">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemscope="" itemtype="http://schema.org/Thing" itemprop="item" href="/"
                            title="<%= info.website %>">
                            <span itemprop="name"></span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemscope="" itemtype="http://schema.org/Thing" itemprop="item" href="#"
                            title="<%= cate.title %>">
                            <span itemprop="name"><%= cate.title %></span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>

                </ol>
                <h1 class="product-title-big"><%=  cate.title %></h1>
                <div class="clearfix news-container ws-list">
                    <div class="content-list row-service">
                        <% cate.items.forEach(item=>{ %>
                        <div class="itemservice clearfix">
                            <div class="noidungbox clearfix">
                                <div itemprop="image" class="image"><a title="<%= item.title %>"
                                        href="<%= item.url %>"><img
                                            src="<%= item.image %>"
                                            alt="<%= item.title %>"></a> </div>
                                <section id="main-contentt">
                                    <h2 itemprop="headline" class="name"><a title="<%= item.title %>"
                                            href="<%= item.url %>"><%= item.title %></a></h2>
                                    <p class="date_format"></p>
                                </section>
                            </div><!-- /.noidungbox -->
                        </div>
                        <% }) %>
                    </div><!-- /.content-list -->
                </div>
            </div>
            <!-- /.content-main -->
            <%- partial('../partials/sidebar') %>
            <!-- /.cotb -->
        </div>
        <!-- /.main-wrap -->
    </div>
    <!-- /.ws-container -->
</section>