<% layout('../partials/boilerplate') -%>


<section id="main" class="main clearfix">
    <div class="ws-container">
        <div class="main-wrap">
            <div class="content-main">
                <div class="slide_content">
                    <div class="slide-item sl">
                        <div class="owl-slide slide owl-carousel owl-theme owl-loaded owl-drag" data-sumslide="4">

                            <!-- /.islide -->



                            <!-- /.islide -->



                            <!-- /.islide -->



                            <!-- /.islide -->
                            <div class="owl-stage-outer owl-height" style="height: 334px;">
                                <div class="owl-stage"
                                    style="transform: translate3d(-1824px, 0px, 0px); transition: all 0.25s ease 0s; width: 7296px;">
                                    <% sliders.forEach(slider => { %>
                                    <div class="owl-item" style="width: 912px;">
                                        <div class="islide">
                                            <a href="javascript:void(0);" title="<%= slider.title %>">
                                                <img src="/uploads/images/<%= slider.image %>" class="img-responsive"
                                                    alt="<%= slider.title %>">
                                            </a>
                                        </div>
                                    </div>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                        <!-- /. -->
                    </div>
                    <!-- /.slide-item sl -->
                </div>
                <!-- /.slide_content -->
                <div class="cat-product-container clearfix">
                    <div class="cat-product-group">
                        <div class="cat-product-item service tren,home">
                            <div class="cat-product-cat-title">
                                <div class="title-cathome clearfix">
                                    <div class="title-con"><a href="/dich-vu/" title="Dịch vụ"><span class="ttten">Dịch
                                                vụ</span></a></div>
                                </div>
                            </div>
                            <!-- /.cat-product-cat-title -->
                            <div class="cat-product-cat-content clearfix">
                                <div class="ws-container clearfix">
                                    <div class="row-service">
                                        <% services.forEach(item => { %>
                                        <div class="itemservice clearfix">
                                            <div class="noidungbox clearfix">
                                                <div itemprop="image" class="image ImagesFrame">
                                                    <a title="<%= item.title %>" href="<%= item.url %>" class="ImagesFrameCrop0">
                                                        <img src="<%= item.image %>" alt="<%= item.title %>">
                                                    </a>
                                                </div>
                                                <section id="main-contentt">
                                                    <h2 itemprop="headline" class="name"><a title="<%= item.title %>"
                                                            href="<%= item.url %>"><%= item.title %></a></h2>
                                                    <p class="date_format"></p>
                                                </section>
                                            </div>
                                            <!-- /.noidungbox -->
                                        </div>
                                        <% }); %>
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.ws-container -->
                            </div>
                            <!-- /.cat-product-cat-content -->
                        </div>
                        <!-- /.cat-product-item -->
                        <div class="cat-product-item content tren,home">
                            <div class="cat-product-cat-title">
                                <div class="title-cathome clearfix">
                                    <div class="title-con"><a href="/thong-tin-tu-van/" title="THÔNG TIN TƯ VẤN"><span
                                                class="ttten">THÔNG TIN TƯ
                                                VẤN</span></a></div>
                                </div>
                            </div>
                            <!-- /.cat-product-cat-title -->
                            <div class="cat-product-cat-content clearfix">
                                <div class="ws-container clearfix">
                                    <div class="content3">
                                        <div class="contentRun owl-carousel owl-theme owl-loaded owl-drag">
                                            <div class="owl-stage-outer">
                                                <div class="owl-stage"
                                                    style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2841px;">
                                                    <% for (let i = 0; i < advisory.length; i+=2) {
                                                        const item1 = advisory[i];
                                                        const item2 = advisory[i+1];
                                                        const col = [item1];
                                                        if(item2){
                                                            col.push(item2);
                                                        }
                                                    %>
                                                    <div class="owl-item" style="width: 438.5px; margin-right: 35px;">
                                                        <section>
                                                            <% col.forEach(item => { %>
                                                            <div itemscope="" itemtype="https://schema.org/NewsArticle"
                                                                class="itemnoidung clearfix">
                                                                <div class="noidungbox clearfix">
                                                                    <h3 itemprop="author" itemscope=""
                                                                        itemtype="https://schema.org/Person">
                                                                        <span itemprop="name"
                                                                            class="hidden"><%= item.title %></span></h3>
                                                                    <div itemprop="image" itemscope=""
                                                                        itemtype="https://schema.org/ImageObject"
                                                                        class="image">
                                                                        <a title="<%= item.title %>"
                                                                            href="<%= item.url %>"><img
                                                                                src="<%= item.image %>"
                                                                                alt="<%= item.title %>"></a>
                                                                        <meta itemprop="url" content="<%= item.url %>">
                                                                        <meta itemprop="width" content="350">
                                                                        <meta itemprop="height" content="auto">
                                                                    </div>
                                                                    <section id="main-contentt">
                                                                        <h2 itemprop="headline" class="name"><a
                                                                                title="<%= item.title %>"
                                                                                href="<%= item.url %>"><%= item.title %></a>
                                                                        </h2>
                                                                        <p class="date_format"></p>
                                                                        <div itemprop="publisher" itemscope=""
                                                                            itemtype="https://schema.org/Organization">
                                                                            <div itemprop="logo" itemscope=""
                                                                                itemtype="https://schema.org/ImageObject"
                                                                                class="hidden"><img
                                                                                    src="<%= item.image %>">
                                                                                <meta itemprop="url"
                                                                                    content="<%= item.url %>">
                                                                                <meta itemprop="width" content="600">
                                                                                <meta itemprop="height" content="60">
                                                                            </div>
                                                                            <meta itemprop="name" content="Google">
                                                                        </div>
                                                                    </section>
                                                                </div>
                                                                <!-- /.noidungbox -->
                                                            </div>
                                                            <% }); %>
                                                        </section>
                                                    </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.ws-container -->
                            </div>
                            <!-- /.cat-product-cat-content -->
                        </div>
                        <div class="cat-product-item content tren,home">
                            <div class="cat-product-cat-title">
                                <div class="title-cathome clearfix">
                                    <div class="title-con"><a href="/ho-tro-ky-thuat/" title="Hỗ trợ kỹ thuật"><span
                                                class="ttten">Hỗ trợ kỹ
                                                thuật</span></a></div>
                                </div>
                            </div>
                            <!-- /.cat-product-cat-title -->
                            <div class="cat-product-cat-content clearfix">
                                <div class="ws-container clearfix">
                                    <div class="content3">
                                        <div class="contentRun owl-carousel owl-theme owl-loaded owl-drag">
                                            <div class="owl-stage-outer">
                                                <div class="owl-stage"
                                                    style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2841px;">
                                                    <% for (let i = 0; i < support.length; i+=2) {
                                                        const item1 = support[i];
                                                        const item2 = support[i+1];
                                                        const col = [item1];
                                                        if(item2){
                                                            col.push(item2);
                                                        }
                                                    %>
                                                    <div class="owl-item" style="width: 438.5px; margin-right: 35px;">
                                                        <section>
                                                            <% col.forEach(item => { %>
                                                            <div itemscope="" itemtype="https://schema.org/NewsArticle"
                                                                class="itemnoidung clearfix">
                                                                <div class="noidungbox clearfix">
                                                                    <h3 itemprop="author" itemscope=""
                                                                        itemtype="https://schema.org/Person">
                                                                        <span itemprop="name"
                                                                            class="hidden"><%= item.title %></span></h3>
                                                                    <div itemprop="image" itemscope=""
                                                                        itemtype="https://schema.org/ImageObject"
                                                                        class="image">
                                                                        <a title="<%= item.title %>"
                                                                            href="<%= item.url %>"><img
                                                                                src="<%= item.image %>"
                                                                                alt="<%= item.title %>"></a>
                                                                        <meta itemprop="url" content="<%= item.url %>">
                                                                        <meta itemprop="width" content="350">
                                                                        <meta itemprop="height" content="auto">
                                                                    </div>
                                                                    <section id="main-contentt">
                                                                        <h2 itemprop="headline" class="name"><a
                                                                                title="<%= item.title %>"
                                                                                href="<%= item.url %>"><%= item.title %></a>
                                                                        </h2>
                                                                        <p class="date_format"></p>
                                                                        <div itemprop="publisher" itemscope=""
                                                                            itemtype="https://schema.org/Organization">
                                                                            <div itemprop="logo" itemscope=""
                                                                                itemtype="https://schema.org/ImageObject"
                                                                                class="hidden"><img
                                                                                    src="<%= item.image %>">
                                                                                <meta itemprop="url"
                                                                                    content="<%= item.url %>">
                                                                                <meta itemprop="width" content="600">
                                                                                <meta itemprop="height" content="60">
                                                                            </div>
                                                                            <meta itemprop="name" content="Google">
                                                                        </div>
                                                                    </section>
                                                                </div>
                                                                <!-- /.noidungbox -->
                                                            </div>
                                                            <% }); %>
                                                        </section>
                                                    </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.ws-container -->
                            </div>
                            <!-- /.cat-product-cat-content -->
                        </div>
                    </div>
                    <!-- /.cat-product-group -->
                </div>
                <div class="cat-product-item product home,tren">
                    <div class="cat-product-cat-title">
                        <div class="title-cathome clearfix">
                            <div class="title-con"><a href="san-pham" title="Sản phẩm"><span class="ttten">Sản
                                        phẩm</span></a></div>
                        </div>
                    </div><!-- /.cat-product-cat-title -->
                    <div class="cat-product-cat-content clearfix">
                        <div class="ws-container clearfix">

                            <div class="-row">
                                <div class="productRun owl-carousel owl-theme">
                                    <% for (let i = 0; i < product.length; i+=2) {
                                    const item1 = product[i];
                                    const item2 = product[i+1];
                                    const col = [item1];
                                    if(item2){
                                        col.push(item2);
                                    }
                                %>
                                    <div>
                                        <% col.forEach(item => { %>
                                        <div class="itemsanpham  clearfix ">
                                            <div class="clearfix itemsanphamBox">
                                                <div class=""> <a href="<%= item.url %>" title="<%= item.name %>">
                                                        <img data-original="<%= item.image %>" alt="<%= item.name %>"
                                                            class="img-responsive lazy" />
                                                    </a>
                                                </div>
                                                <div class="name"> <a href="<%= item.url %>"
                                                        title="<%= item.name %>"><%= item.name %></a></div>
                                                <div class="groupprice">
                                                    <div class="gia"><span>Giá :</span>
                                                        <% if(item.price !== "0") {%>
                                                        <span class="gialienhe"><%= item.price %> VNĐ</span>
                                                        <% } else {%>
                                                        </span> <span class="gialienhe">Liên
                                                            hệ</span>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                    </div>
                                    <% } %>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.ws-container -->
                    </div><!-- /.cat-product-cat-content -->
                </div><!-- /.cat-product-item -->

            </div>
            <!-- /.content-main -->
            <%- partial('../partials/sidebar') %>
            <!-- /.cotb -->
        </div>
        <!-- /.main-wrap -->
    </div>
    <!-- /.ws-container -->
</section>